{:deps {com.bhauman/figwheel-main {:mvn/version "0.1.8-SNAPSHOT"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        re-frame {:mvn/version "0.10.5"}
        re-pressed {:mvn/version "0.2.2"}
        com.bhauman/cljs-test-display {:mvn/version "0.1.1"}}
 :paths ["src" "target" "resources" "tests"]}
