body {
  font-family: monospace;
  font-size: 40px;
}
.row {
  display:block;
  height: 39px;
}
.cell {
  float: left;
  text-align: center;
  padding: 8px;
  width: 20px;
  height: 20px;
}
.red {
  color: #f00;
}
.yellow {
  color: #d0cf9d;
}
.blank {
  color: #eee;
}
